#startButton {
    -fx-background-image: url(pictures/start.png);
}

#back {
    -fx-background-image: url(pictures/menuBackground.png);
    -fx-background-size: cover;
}
.button {
    -fx-background-color: transparent;
    -fx-background-size: contain;
}