.course-header {
    font-size: 2em;
    margin-top: 7vh;
    color: #000;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px; /* Отступ между кнопками */
}

.course-button {
    border-radius: 45px;
    border-color: black;
    width: 100px;
    font-size: 14px;
}

